<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562493007430-208uldli8r8e14ml5kpjgcngg9a4q68s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562493007430-208uldli8r8e14ml5kpjgcngg9a4q68s</string>
	<key>API_KEY</key>
	<string>AIzaSyAzzfjtjCjadZVYA3mowcb9mKWtC4H5Qik</string>
	<key>GCM_SENDER_ID</key>
	<string>562493007430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dabeltran.mapWeather</string>
	<key>PROJECT_ID</key>
	<string>map-weather-3149a</string>
	<key>STORAGE_BUCKET</key>
	<string>map-weather-3149a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562493007430:ios:aec3c7a36770ec100d0c47</string>
</dict>
</plist>